<% if sign_in_or_up_together? -%>
  <%= render "devise/shared/sign_in_or_up" %>
<% else -%>
  <h2>Sign up</h2>

  <%= render "devise/registrations/new" %>
<% end -%>

<%= render "devise/shared/links" %>
